<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FunFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="loading">


            <div class="container-fluid">
                <h3>What are you searching for?</h3>
                <form method="post" action="#">
                      <div class="field">
                          <input type="text" name="search" id "search" placeholder="Search" />
                          <input type="submit" value="Send" />
                          <br>
                          <label class="checkbox-inline"><input type="checkbox" checked = "checked" value="">Facebook</label>
                          <label class="checkbox-inline"><input type="checkbox" checked = "checked" value="">Twitter</label>
                          <label class="checkbox-inline"><input type="checkbox" checked = "checked" value="">Instagram</label>
                      </div>
                </form>
            </div>

</body>
</html>